@using PuhdasApp.ViewModels;
@model EditUserProfileViewModel

<form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id">

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" type="text" class="form-control" aria-describedby="emailHelp" placeholder="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" type="text" class="form-control" aria-describedby="emailHelp" placeholder="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" type="text" class="form-control" aria-describedby="emailHelp" placeholder="City">
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State">State</label>
        <input asp-for="State" type="text" class="form-control" aria-describedby="emailHelp" placeholder="State">
        <span asp-validation-for="State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" aria-describedby="emailHelp" placeholder="City">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button style="margin-top:30px" type="submit" class="btn btn-outline-danger">Submit</button>
</form>