@using PuhdasApp.ViewModels;
@model CreateReviewViewModel


<h4>Add new Review</h4>
<form method="post" asp-action="Create">
    <input type="hidden" id="ProductId" name="ProductId" asp-for="ProductId" value="">
    <div class="form-group">
        <label asp-for="Content">Add Comment</label>
        <textarea style="height:200px" asp-for="Content" class="form-control" aria-describedby="emailHelp" placeholder="Content"></textarea>
        <button style="margin-top:20px" type="submit" class="btn btn-outline-success">Submit</button>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
</form>