@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h4>Privacy Policy for Puhdas Footies</h4>
    <p>

        <small>Effective Date: [02 October, 2023]</small><br>

        At Puhdas Footies, your privacy matters. This Privacy Policy summarizes how we collect and use your information:<br>

        <b>1. Information We Collect</b><br>

        We collect essential data you provide, such as contact and payment information, order details, and communication preferences.<br>

        <b>2. How We Use Your Information</b><br>

        We use your data to process orders, provide customer support, send promotions, analyze site usage, and comply with the law.<br>

        <b>3. Sharing Your Information</b><br>

        We don't sell your data. We may share it with trusted service providers, for legal compliance, or in business transfers.<br>

        <b>4. Your Choices</b><br>

        Opt-out of marketing, request account deletion, or manage cookies through your browser settings.<br>

        <b>5. Security</b><br>

        We employ reasonable security measures to protect your information.<br>

        <b>6. Children's Privacy</b><br>

        Our site is not for individuals under 15.<br>

        <b>7. Changes to This Policy</b><br>

        We may update this policy, so check our website for changes.<br>

        <b>8. Contact Us</b><br>

        For questions or concerns, reach out to us at <span style="color:blue">puhdasnetwork@gmail.com.</span><br>

        By using our site, you agree to this Privacy Policy. If you disagree, please refrain from using our website or providing personal information.






    </p>
</div>
