html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#img {
    border: 1.5px;
    border-style: solid;
    border-color: saddlebrown;
}
.button-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.confirm {
    margin-bottom:30px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border:2px, solid;
    border-radius: 5px;
}